{{#events}}
<li class="mdl-list__item mdl-list__item--two-line">
	<span class="mdl-list__item-primary-content">
		<i class="material-icons mdl-list__item-avatar">event</i>
		<span>{{name}}</span>
		<span class="mdl-list__item-sub-title">{{stage}}</span>
	</span>
	<span class="mdl-list__item-secondary-content">
		<a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">add_box</i></a>
	</span>
</li>
{{/events}}